* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* =========Common========= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* Căn giữa */
    margin-left: auto;
    margin-right: auto;
}

:root {
    --font-heading: Sen, sans-serif;
    --color-primary: #ffb900;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    /* cursor; pointer (chuyển thành dấu bàn tay) */
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
/* hiển thị dấu 3 chấm */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Tự động xuống dòng */
.break-all {
    word-break: break-all;
}
/* ============Header============ */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav .active a {
    font-weight: 600;
    font-size: 1.6rem;
    color: #171100;
}

.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav .active a::after {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 41px;
}

/* =============Hero================== */

.hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .hero-image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero-sumary {
    position: absolute;
    width: 270px;
    bottom: 48px;
    right: 0;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary .item {
    align-items: center;
    display: flex;
}

.hero-sumary .item + .item {
    margin-top: 22px;
}

.hero-sumary .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero-sumary .item .icon-1 {
    background: #fff9e8;
}

.hero-sumary .item .icon-2 {
    background: #fcefff;
}

.hero-sumary .item .icon-3 {
    background: #ebeaff;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #5f5b53;
}

.hero-sumary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #171100;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #5f5b53;
}

.hero .content-block span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #171100;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .cta-group .btn-cta {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background-color: var(--color-primary);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 28px;
    background-color: #fffcf4;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #171100;
}

.hero .stars {
    margin: 8px 0 0 -28px;
}

.hero .stars strong {
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    font-family: var(--font-heading);
    line-height: 1.2;
    color: #171100;
}

/* =========Popular============= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading.lv2 {
    font-size: 3.8rem;
}

.popular-top .info .desc {
    max-width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 16px;
}

.popular-top .controls-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #ffb900;
    border-radius: 50%;
    background: transparent;
}

.popular-top .controls-btn:nth-child(2) {
    background: var(--color-primary);
    margin-left: 18px;
}

/* ==========Course List========= */

.course-list {
    display: flex;
    margin-top: 55px;
    gap: 0 30px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    overflow: hidden;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.08);
}

.popular .course-item .thumb {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: transform 0.8s;
}

.popular .course-item .thumb:hover {
    -ms-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
}

.popular .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    padding-right: 6px;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.popular .info .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .info .value {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
    margin-left: 6px;
}

.popular .foot .book-btn {
    border: none;
}

.popular .foot .book-btn:hover {
    color: #fff;
    background: var(--color-primary);
}

/* ==========FeedBack============ */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.4;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .info .dot {
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    font-style: italic;
    color: #ffffff;
}
